#video:after {
  content: "";
  opacity: 0.75;
  background: #4096ee; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #4096ee 0%,
    #39ced6 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 ); /* IE6-9 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#one {
  position: relative;
  z-index: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media (max-width: 786px) {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
